#define IDC_DIALOG 200
#define IDC_BTN1 1
#define IDC_BTN2 2
#define IDC_EXIT 3
#define IDC_EDIT 100

#include "resource.h"

IDC_DIALOG DIALOGEX 10,10,237,36
CAPTION "gBurner mounter"
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER|DS_MODALFRAME|DS_3DLOOK
BEGIN
  CONTROL "",IDC_EDIT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,27,3,156,12,WS_EX_CLIENTEDGE
  CONTROL "E&xit",IDC_EXIT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,186,18,42,12
  CONTROL "...",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,6,3,18,12
  CONTROL "Mount",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,186,3,42,12
END

200 ICON DISCARDABLE "gBurner.ico"

